<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='Torch' name='author'>
    <meta content='' name='description'>
    <meta content='' name='keywords'>
    <link href="/static/assets/stylesheets/application-a07755f5.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/images/favicon.ico" rel="icon" type="image/ico" />
    <title>Vizuly - Weighted Tree</title>

    <!-- We use google fonts for many of the examples, but they are not necessary -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto|Raleway:600,400,200' rel='stylesheet' type='text/css'>

    <!-- Test container style sheets -->
    <link rel="stylesheet" href="/static/Wtree/styles/examples.css">

    <!-- Vizuly specific style sheets -->
    <link rel="stylesheet" href="/static/Wtree/lib/styles/vizuly.css">
    <link rel="stylesheet" href="/static/Wtree/lib/styles/vizuly_weightedtree.css">

    <!-- Supporting test container files:  Vizuly does NOT rely on these -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/Wtree/lib/styles/cssmenu.css">
    <script type="text/javascript" src="/static/Wtree/lib/jquery-2.1.1.min.js"></script>
    <script src="/static/Wtree/lib/cssmenu.js"></script>

    <!-- D3.js ... of course! -->
    <script src="/static/Wtree/weightedtree/lib/d3.min.js"></script>

    <!--&lt;!&ndash; debug source scripts: start &ndash;&gt;-->
    <!--<script src="/static/Wtree/src/namespace/namespace.js"></script>-->
    <!--<script src="/static/Wtree/src/viz/_viz.js"></script>-->

    <!--<script src="/static/Wtree/src/theme/_theme.js"></script>-->


    <!--<script src="/static/Wtree/src/core/component.js"></script>-->
    <!--<script src="/static/Wtree/src/core/data.js"></script>-->
    <!--<script src="/static/Wtree/src/core/util.js"></script>-->
    <!--<script src="/static/Wtree/src/core/color.js"></script>-->
    <!--<script src="/static/Wtree/src/core/format.js"></script>-->
    <!--<script src="/static/Wtree/src/svg/_svg.js"></script>-->
    <!--<script src="/static/Wtree/src/svg/gradient.js"></script>-->
    <!--<script src="/static/Wtree/src/svg/filter.js"></script>-->
    <!--<script src="/static/Wtree/src/viz/weightedtree.js"></script>-->
    <!--<script src="/static/Wtree/src/theme/weightedtree.js"></script>-->

    <!--&lt;!&ndash; debug source scripts: end &ndash;&gt;-->

    <script src="/static/Wtree/weightedtree/lib/vizuly_core.min.js"></script>
	<script src="/static/Wtree/weightedtree/lib/vizuly_weightedtree.min.js"></script>
    <script src="/static/Wtree/weightedtree/weightedtree_test.js"></script>


  </head>

  <body class='main page'>
    <!-- Navbar -->
    <div class='navbar navbar-default' id='navbar'>
      <a class='navbar-brand' href='#'>
        <i class='glyphicon glyphicon-fire'></i>
        Torch
      </a>
      <ul class='nav navbar-nav pull-right'>
        <li class='dropdown'>
          <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
            <i class='icon-envelope'></i>
            Messages
            <span class='badge'>5</span>
            <b class='caret'></b>
          </a>
          <ul class='dropdown-menu'>
            <li>
              <a href='#'>New message</a>
            </li>
            <li>
              <a href='#'>Inbox</a>
            </li>
            <li>
              <a href='#'>Outbox</a>
            </li>
            <li>
              <a href='#'>Trash</a>
            </li>
          </ul>
        </li>
        <li>
          <a href='#'>
            <i class='icon-cog'></i>
            Settings
          </a>
        </li>
        <li class='dropdown user'>
          <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
            <i class='icon-user'></i>
            <strong>Eric Park</strong>
            <img class="img-rounded" src="http://placehold.it/20x20/ccc/777" />
            <b class='caret'></b>
          </a>
          <ul class='dropdown-menu'>
            <li>
              <a href='#'>Edit Profile</a>
            </li>
            <li class='divider'></li>
            <li>
              <a href="/">Sign out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div id='wrapper'>
      <!-- Sidebar -->
      <section id='sidebar'>
        <i class='icon-align-justify icon-large' id='toggle'></i>
        <ul id='dock'>
          <li class='{% if request.path == "/dashboard/" %} active {% endif %} launcher'>
            <i class='icon-dashboard'></i>
            <a href="/dashboard">Dashboard</a>
          </li>
          <li class='{% if request.path == "/forms/" %} active {% endif %} launcher'>
            <i class='icon-file-text-alt'></i>
            <a href="/forms">Forms</a>
          </li>
          <li class='{% if request.path == "/test/" %} active {% endif %} launcher'>
            <i class='icon-table'></i>
            <a href="/functiontable">Function Table</a>
          </li>
          <li class='launcher dropdown hover'>
            <i class='icon-flag'></i>
            <a href='#'>Reports</a>
            <ul class='dropdown-menu'>
              <li class='dropdown-header'>D3.JS</li>
              <li>
                <a href='/report'>Class View</a>
              </li>
              <li>
                <a href='#'>View</a>
              </li>
              <li>
                <a href='#'>View</a>
              </li>
            </ul>
          </li>
          <li class='launcher'>
            <i class='icon-bookmark'></i>
            <a href='/visual'>Visualization</a>
          </li>
          <li class='launcher'>
            <i class='icon-cloud'></i>
            <a href='#'>Backup</a>
          </li>
          <li class='launcher'>
            <i class='icon-bug'></i>
            <a href='#'>Feedback</a>
          </li>
        </ul>
        <div data-toggle='tooltip' id='beaker' title='Made by Torch'></div>
      </section>
    </div>

      <div id='content'>
          <div id='cssmenu'>
    <ul class="main-menu">
        <li class='active'>
            <a><span>Display</span><br><span class="setting"></span></a>
            <ul class="options" callback="changeSize">
                <li id="currentDisplay" class="selected"><a></a></li>
                <li item_value="1000,1000"><a>1000px - 1000px</a></li>
                <li item_value="800,600"><a>800px - 600px</a></li>
                <li item_value="375,667"><a>375px - 667px</a></li>
                <li item_value="320,568"><a>320px - 568px</a></li>
            </ul>
        </li>
        <li class='active'><a><span>Theme </span><br><span class="setting"></span></a>
            <ul class="options" callback="changeSkin">
                <li item_value="None"><a>None</a></li>
                <li item_value="Axiis" class="selected"><a>Axiis</a></li>
            </ul>
        </li>
        <li class='active'><a><span class="label">Data </span><br><span class="setting"></span></a>
          <ul class="options" callback="changeData">
                <li item_value="0" class="selected"><a>Federal</a></li>
                <li item_value="1"><a>State</a></li>
                <li item_value="2"><a>Local</a></li>
            </ul>
        </li>
    </ul>
          </div>
<!-- Our main content container-->
    <div class="container" style="width:100%">
        <div id="viz_container" class="z-depth-3">
        </div>
    <div style="margin-left:0px; height:0px; width:90%; margin:0px auto; margin-top:20px; font-family:Raleway; font-size:14px;">
        When politicians talk about “spending” have you ever wanted to know where your tax dollars actually go? This visualization shows you how congress allocates expenditures across three government levels (Federal, State, and Local.) The thicker the line, the more that is being spent.
    </div>

    </div>

<script>
    //Once the document is ready we set javascript and page settings
    var screenWidth;
    var screenHeight;

    $(document).ready(function () {

        var rect;
        if (self==top) {
            rect = document.body.getBoundingClientRect();
        }
        else {
            rect = document.body.getBoundingClientRect();
        }

        //Set display size based on window size.onMouseOut
        screenWidth = (rect.width < 960) ? Math.round(rect.width*.95) : Math.round((rect.width - 210) *.95);

        screenHeight=700;

        d3.select("#currentDisplay")
                .attr("item_value", screenWidth + "," + screenHeight)
                .attr("class", "selected")
                .html("<a>" + screenWidth + "px - " + screenHeight + "px</a>");


        $("#cssmenu").menumaker({
            title: "VIZULY WEIGHTED TREE",
            format: "multitoggle"
        });

        // Set the size of our container element.
        viz_container = d3.selectAll("#viz_container")
                .style("width", screenWidth + "px")
                .style("height", screenHeight + "px");
        viz_container2 = d3.selectAll("#viz_container2")
                .style("width", screenWidth + "px")
                .style("height", screenHeight + "px");
        loadData();
    });

</script>
      </div>
    <!-- Footer -->
  </body>
</html>









