<!DOCTYPE html>
<head>
<meta charset="utf-8">

<style>
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
</style>
    <script src="//d3js.org/d3.v3.min.js"></script>
</head>
<body>
    <!-- <p>abc</p>
    <p>def</p>
    <p>ghi</p> -->
    <script>
    var data = [4, 8, 15, 16, 23];

    d3.select("body")
    .selectAll("p")
    .data(data)
    .enter()
    .append("p")
    .text(function(asd, i){return i % 2 ? "hsl(" + Math.random() * 360 + ", 100%, 50%)" : Math.random()});
    </script>
</body>
</html>
